.card {
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: calc(25% - 20px); /* Ajustez la largeur pour afficher 4 cartes par ligne */
    max-width: calc(25% - 20px); /* Ajustez la largeur maximale pour 4 cartes par ligne */
    height: 400px;
    background-color: #0077BE;
    color: black;
    padding: 20px 10px;
    margin-bottom: 25px; /* Ajoutez une marge en bas pour espacer les cartes */
}

.card:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

.card a {
    text-decoration: none;
    color: black;
}

.card a:hover {
    text-decoration: none;
    color: yellow;
}

.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 25px;
}

.title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #FF0000;
    text-align: center;
}

.profile-picture {
    width: 100%;
    height: auto;
    border-radius: 50%;
    margin: 0 auto;
    display: block;
}

@media (max-width: 1200px) {
    .card {
        width: calc(33.33% - 20px); /* Ajustez pour afficher 3 cartes par ligne */
        max-width: calc(33.33% - 20px); /* Largeur maximale de chaque carte à 33.33% moins l'espace entre les cartes */
    }
}

@media (max-width: 768px) {
    .card {
        width: calc(50% - 20px); /* Ajustez pour afficher 2 cartes par ligne */
        max-width: calc(50% - 20px); /* Largeur maximale de chaque carte à 50% moins l'espace entre les cartes */
    }
}

@media (max-width: 480px) {
    .card {
        width: calc(100% - 20px); /* Ajustez pour afficher 1 carte par ligne */
        max-width: calc(100% - 20px); /* Largeur maximale de chaque carte à 100% moins l'espace entre les cartes */
    }
}
